.maincontainer {
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8;
}

.select-container {
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 500px;
}

.select-date {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-container {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-img {
    height: 75px;
}

.photo-container {
    width: 100%;
}

.photo-img {
    border-radius: 82px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #b4b4b4;
}

.pf-img {
    width: 160px;
}

.img-blank {
    width: 85px;
    overflow: hidden;
    height: 85px;
    border-radius: 56px;
}

.body-prs {
    width: 100%;
}

.name-container {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.title-container {
    font-size: 25px;
    margin-top: -20px;
    font-weight: bold;
}

.time-container {
    margin-top: 20px;
    color: #848484;
    font-size: 20px;
    margin-bottom: 20px;
}

.tm-img {
    height: 18px;
}

.desc-cont {
    max-width: 500px;
}

.time-selector {
    margin-bottom: 15px;
}

.title-container-date {
    min-width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 600;
}
.custum-d-picker-style button:hover{
  background-color: rgb(212, 225, 228);
}
.selected-cells{
    background-color: aquamarine;
}
.form-controle-select{
    margin-top: 15px;
    width: 100%;
}
.time-select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.gooey {
    position: relative;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    filter: contrast(20);
  }
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }