html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}